---
import Home from '../layouts/home.astro';
import '@fontsource-variable/josefin-sans';
import { Icon } from 'astro-iconify';
const posts = await Astro.glob('../pages/posts/*.md');
import Splide from '../layouts/autoscroll.astro'
---

<Home title="Home" desc="Masih zaman undangan kertas? pake undangan digital dong langsung kirim ke semua kontak Anda!">
  <section>
    <div class="container pt-16 lg:pt-0 mx-auto">
      <div class="grid grid-cols-1 lg:grid-cols-2 items-center">
        <div class="w-full py-8">
            <div class="px-6">
                <h2 class="text-3xl min-[500px]:text-5xl sm:text-6xl font-black font-poppins text-gray-600">Website Undangan Pernikahan Digital<br/>
                  <span class="text-blue-700 italic font-bold">Cuma 75K</span></h2>

                <p class="mt-4 text-gray-600 font-poppins max-w-lg">Membuat Setiap Jejak Menuju Kebahagiaan dengan Harga yang Ramah di Kantong!</p>

                <div class="flex flex-row max-[400px]:flex-col gap-x-2 gap-y-4 w-fit mt-6 text-white *:rounded-md *:py-3 *:px-6 *:font-poppins ">
                    <a href="/katalog" class="flex flex-row items-center justify-center text-center transition-colors duration-300 transform bg-blue-700 hover:bg-blue-600 hover:text-white hover:ring-0">LIHAT KATALOG<Icon name="mdi:play-arrow" class="w-6 h-6" /></a>
                </div>
            </div>
        </div>
        <div class="mx-auto relative grid place-items-center overflow-hidden">
          <div class="h-screen grid place-items-center overflow-hidden">
            <div class="grid grid-cols-[repeat(5,_100px)] auto-rows-[100px] gap-2 place-items-center mb-[100px] *:object-cover *:w-[200px] *:h-[200px] *:rounded-[5px] max-[639px]:[&>*:nth-child(4n-1)]:col-[2_/_span_2] min-[640px]:grid-cols-[repeat(6,_100px)] min-[640px]:[&>*:nth-child(5n-1)]:col-[2_/_span_2] *:col-[auto_/_span_2]">
            <img src="/assets/desti1.webp" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/indah10.webp" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/aisyah1.webp" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/img-1.webp" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/img-3.webp" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/img-27.webp" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/img-32.webp" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/img-26.webp" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
          </div>
        </div>
        
    </div>
    </div>
  </section>
  <section class="bg-blue-700">
    <div class="container py-12 px-6 mx-auto">
      <div class="text-center mx-auto space-y-3 max-w-xl text-white">
        <h2 class="font-bold font-poppins text-4xl md:text-5xl">Mengapa Harus Jejak Bahagia?</h2>
        <p class="max-w-prose text-center font-poppins mx-auto text-md leading-7 mt-2">Sejak tahun 2022 JejakBahagia telah menjadi bagian dari momen spesial customer. </p>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-4 mx-auto justify-center items-center text-center -mb-28 relative max-w-screen-lg mt-20 *:p-8 *:bg-white *:text-blue-700 *:shadow-xl *:border *:font-poppins *:rounded-b-lg ">
        <div>
          <h4 class="text-5xl font-bold">+1K</h4>
          <p class="text-xl">Undangan Aktif</p>
        </div>
        <div>
          <h4 class="text-5xl font-bold">+8K</h4>
          <p class="text-xl">Tamu Undangan</p>
        </div>
        <div>
          <h4 class="text-5xl font-bold">+4K</h4>
          <p class="text-xl">Doa & Ucapan</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id="fitur" class="container py-20 px-6 mx-auto">
      <div class="text-center mx-auto space-y-3 max-w-xl mt-20">
        <h2 class="font-bold font-poppins text-4xl md:text-5xl text-blue-700">Fitur Undangan</h2>
        <p class="text-center font-poppins mx-auto text-md leading-7 mt-2 text-gray-500">Berbagai macam fitur terbaik undangan online yang Anda butuhkan ada disini.
        </p>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mt-16 w-full max-w-screen-lg mx-auto *:w-full *:mx-auto *:p-4 *:bg-white *:shadow-lg *:rounded-md *:flex *:flex-col *:sm:flex-row *:items-center *:gap-x-4 *:text-center *:relative hover:*:scale-105 hover:*:drop-shadow-xl *:border-blue-700 *:border">
        <div class="">
          <div>
            <Icon name="mdi:web-check" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-blue-700 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-poppins text-blue-700">Domain Ekslusif</h4>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:people-group" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-blue-700 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-poppins text-blue-700">Custom Nama Tamu</h4>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:gift-outline" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-blue-700 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-poppins text-blue-700">Hadiah</h4>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:cash-check" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-blue-700 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-poppins text-blue-700">Amplop Digital</h4>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:book-edit-outline" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-blue-700 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-poppins text-blue-700">Reservasi & Buku Tamu</h4>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:timer-sand-complete" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-blue-700 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-poppins text-blue-700">Countdown Timer</h4>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:music-note" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-blue-700 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-poppins text-blue-700">Background Music</h4>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:folder-image" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-blue-700 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-poppins text-blue-700">Gallery Foto</h4>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:book-love-outline" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-blue-700 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-poppins text-blue-700">Love Stories</h4>
          </div>
        </div>
    </div>
  </section>
  <section>
    <div id="katalog" class="container px-6 py-20 mx-auto text-center">
      <div class="space-y-2 max-w-xl mx-auto">
        <h1 class="font-bold font-poppins text-4xl md:text-5xl text-blue-700">
          Pilihan Tema
        </h1>
        <p
          class="text-center font-poppins mx-auto text-md leading-7 mt-2 text-gray-500">
          Dengan adanya preset kamu tinggal pilih design undangan sesuai dengan
          yang kamu mau!
        </p>
      </div>
      <div class="mx-auto mt-5 w-full">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-8 max-w-screen-lg mx-auto">
          {
            posts
              .filter(post => post.frontmatter.number !== undefined) 
              .sort((a, b) => a.frontmatter.number - b.frontmatter.number) 
              .slice(0, 6)
              .map((post) => (
                <div class="relative px-6 pt-4 pb-8 bg-white rounded-lg border-2">
                  <div class="relative">
                    <div class="overflow-hidden rounded-lg">
                      <div class="w-full object-cover">
                        <a href={post.frontmatter.slug}>
                          <img
                            src={post.frontmatter.img?.url}
                            alt={post.frontmatter.img?.alt}
                          />
                        </a>
                      </div>
                    </div>
                    <p class="font-bold text-xl pt-4 text-left text-gray-600 capitalize">
                      {post.frontmatter.title}
                    </p>
                    <div class="flex flex-row items-center gap-2 py-2">
                      <p class="w-fit p-1 bg-blue-700 text-white font-bold max-sm:mx-auto">
                        50%
                      </p>
                      <p class="w-full font-bold text-blue-700 text-start line-through">
                        {post.frontmatter.unprice}
                      </p>
                    </div>
                    <p class="font-bold text-gray-600 text-left text-2xl">
                      {post.frontmatter.price}
                    </p>
                    <div class="mt-4 space-y-4 sm:space-y-0 sm:flex flex-row items-center justify-between gap-2 *:w-full *:sm:w-max *:flex *:flex-row *:items-center *:justify-center *:gap-1 *:text-white *:px-4 *:py-2 *:rounded-sm">
                      <a href="/pesan"
                        class="bg-blue-700">
                        <Icon
                          name="mdi:navigation-variant"
                          class="w-6 h-6 text-white"
                        />
                        Pesan
                      </a>
                      <a
                        href={post.frontmatter.slug}
                        class="bg-gray-600">
                        {post.frontmatter.link}{" "}
                        <Icon name="mdi:eye" class="w-4 h-4" />
                        Preview
                      </a>
                    </div>
                  </div>
                </div>
              ))
          }
        </div>
        <a href="/katalog" class="flex flex-row items-center justify-center mx-auto w-fit px-6 py-3 mt-8 text-center text-white rounded-sm transition-colors duration-300 transform bg-blue-700 hover:bg-blue-600">TEMA LAINNYA<Icon name="mdi:play-arrow" class="w-6 h-6" /></a>
      </div>
    </div>
  </section>
  <section>
    <div class="container py-20 px-6 mx-auto">
      <div class="text-center text-blue-700 font-poppins mx-auto space-y-3 max-w-xl">
        <h2 class="font-bold text-3xl sm:text-4xl md:text-5xl">Harga Tema</h2>
        <p class="text-center mx-auto text-md text-gray-500 leading-7 mt-2">Banyak pilihan tea dengan harga yang tetap sama
        </p>
      </div>
        <div class="max-w-screen-md mx-auto mt-16 gap-x-2 gap-y-8 *:rounded-md *:font-poppins">
            <div class="overflow-hidden bg-white p-6 relative flex flex-col  justify-between items-center gap-4 border border-gray-400">
              <div>
                  <p class="mt-2 text-blue-700 line-through">Rp. 150.000</p>
                  <h4 class="text-4xl font-semibold flex text-gray-600"><sup class="text-base">Rp</sup>75.000</h4>
                  <p class="text-gray-500">Masa Aktif 1 Tahun</p>
              </div>
              <div class="space-y-2 grid grid-cols-1 sm:grid-cols-2 gap-y-2 gap-x-8 *:flex *:gap-2">
                  <div>
                    <Icon name="mdi:success-circle-outline" class="w-5 h-5 text-blue-700" />
                      <span class="text-gray-700">Tamu Tanpa Batas</span>
                  </div>
                  <div>
                    <Icon name="mdi:success-circle-outline" class="w-5 h-5 text-blue-700" />
                      <span class="text-gray-700">Gallery foto (max 8)</span>
                  </div>
                  <div>
                    <Icon name="mdi:success-circle-outline" class="w-5 h-5 text-blue-700" />
                      <span class="text-gray-700">Dashboard undangan</span>
                  </div>
                  <div>
                    <Icon name="mdi:success-circle-outline" class="w-5 h-5 text-blue-700" />
                      <span class="text-gray-700">Kirim undangan mudah</span>
                  </div>
                  <div>
                    <Icon name="mdi:success-circle-outline" class="w-5 h-5 text-blue-700" />
                      <span class="text-gray-700">Bebas pilih Tema</span>
                  </div>
                  <div>
                    <Icon name="mdi:success-circle-outline" class="w-5 h-5 text-blue-700" />
                      <span class="text-gray-700">Custom musik latar</span>
                  </div>
                  <div>
                    <Icon name="mdi:success-circle-outline" class="w-5 h-5 text-blue-700" />
                      <span class="text-gray-700">Form RSVP & Ucapan
                      </span>
                  </div>
                  <div>
                    <Icon name="mdi:success-circle-outline" class="w-5 h-5 text-blue-700" />
                      <span class="text-gray-700">Amplop Digital</span>
                  </div>
                  <div>
                    <Icon name="mdi:success-circle-outline" class="w-5 h-5 text-blue-700" />
                      <span class="text-gray-700">Hitung Mundur Waktu Acara</span>
                  </div>
                  <div>
                    <Icon name="mdi:success-circle-outline" class="w-5 h-5 text-blue-700" />
                      <span class="text-gray-700">Integrasi Google Maps</span>
                  </div>
                  <div>
                    <Icon name="mdi:success-circle-outline" class="w-5 h-5 text-blue-700" />
                      <span class="text-gray-700">Revisi 3 Kali</span>
                  </div>
              </div>

              <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!">
                <button class="w-full mx-auto flex justify-center items-center px-4 py-2 mt-5 text-white text-center capitalize transition-colors duration-300 transform bg-blue-700 rounded-md hover:bg-gray-600">
                  Buat Undangan
                </button>
              </a>
              
            </div>
        </div>
    </div>
</section>
<section class="relative overflow-hidden bg-cover bg-center bg-[url('/public/assets/img-32.webp')] before:content-[''] before:absolute before:h-full before:w-full before:bg-gray-900 before:opacity-80 ">
  <div class="container relative mx-auto px-6 text-white text-center">
    <div class="max-w-screen-lg mx-auto h-screen flex flex-col items-center justify-center space-y-5">
      <h1 class="font-bold font-poppins text-2xl sm:text-4xl">Tunggu apalagi? Yuk segera buat undangan pernikahanmu disini.</h1>
      <p class="max-w-prose text-center mx-auto">Kamu bisa pilih berbagai tema modern & menarik yang kami sediakan atau kamu juga bisa request custom desain sendiri loh.</p>
      <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!" class="bg-white py-2 px-6 max-w-max rounded-full text-blue-700">
        <p class="">Mulai Buat Sekarang</p>
      </a>
    </div>

  </div>
</section>
<section>
  <div class="container px-6 py-20 max-w-screen-lg mx-auto">
    <div class="mb-12 font-poppins">
      <h1 class="font-bold text-4xl md:text-5xl text-blue-700">FAQ</h1>
      <p class="leading-7 mt-2 text-gray-500">Dibawah ini adalah daftar pertanyaan yang sering ditanyakan
      </p>
    </div>
    <div class="grid grid cols-1 sm:grid-cols-2 gap-8 *:font-poppins *:h-full">
      <div>
        <h4 class="font-bold text-md text-gray-700 tracking-wide">Bagaimana cara order?</h4>
        <p class="leading-7 mt-2 text-gray-500">Silahkan pilih Tema yang anda sukai kemudian klik Pesan, nanti anda akan diarahkan ke form pemesanan.</p>
      </div>
      <div>
        <h4 class="font-bold text-md text-gray-700 tracking-wide">Apa itu masa edit undangan ?</h4>
        <p class="leading-7 mt-2 text-gray-500">Masa edit undangan adalah masa aktif akun anda untuk dapat melakukan edit terhadap undangan yang telah anda buat.</p>
      </div>
      <div>
        <h4 class="font-bold text-md text-gray-700 tracking-wide">Apakah bisa ganti tema ?</h4>
        <p class="leading-7 mt-2 text-gray-500">Anda dapat mengganti Tema sesuai dengan paket yang anda beli.</p>
      </div>
      <div>
        <h4 class="font-bold text-md text-gray-700 tracking-wide">Berapa Lama pengerjaannya ?</h4>
        <p class="leading-7 mt-2 text-gray-500">Untuk pengerjaannya 1-2 hari, setelah semua data kamu terkumpul dengan lengkap.</p>
      </div>
      <div>
        <h4 class="font-bold text-md text-gray-700 tracking-wide">Apakah ada batasan kirim undangan ?</h4>
        <p class="leading-7 mt-2 text-gray-500">Tidak ada batas untuk kirim undangan, Cukup satu undangan untuk banyak tamu.</p>
      </div>
      <div>
        <h4 class="font-bold text-md text-gray-700 tracking-wide">Apakah ada batasan revisi undangan ?</h4>
        <p class="leading-7 mt-2 text-gray-500">Tdak ada batas revisi, kamu dapat merevisi kapan saja di mana saja selama masa edit undangan masih aktif.</p>
      </div>
      <div>
        <h4 class="font-bold text-md text-gray-700 tracking-wide">Apa itu masa aktif undangan ?</h4>
        <p class="leading-7 mt-2 text-gray-500">Masa aktif pada undangan adalah masa undangan online dapat diakses. Jika masa aktif berakhir maka undangan masih dapat diakses.</p>
      </div>
      <div>
        <h4 class="font-bold text-md text-gray-700 tracking-wide">Apakah bisa refund ?</h4>
        <p class="leading-7 mt-2 text-gray-500">Setelah melakukan pembayaran pesanan Anda tidak dapat dibatalkan.</p>
      </div>
    </div>
</section>
<section class="fixed bottom-5 right-5 z-20">
  <div class="container flex items-end justify-end mx-auto">
    <a href="https://wa.me/6281532094978?text=Hallo Admin Jejak Bahagia, saya mau konsultasi undangan digital dong!" target="_blank">
      <Icon name="mdi:whatsapp" class="w-14 h-14 mb-5 text-white bg-green-500 rounded-full p-2" />
    </a>
  </div>
</section>
<Splide /> 

</Home>
