---
import Archive from '../layouts/archive.astro';
import '@fontsource-variable/josefin-sans';
import { Icon } from 'astro-iconify';
const posts = await Astro.glob('../pages/posts/*.md');
---

<Archive title="Tema" desc="Dengan adanya preset kamu tinggal pilih design undangan sesuai dengan yang kamu mau!">

  <section>
    <div class="container px-6 py-20 mx-auto text-center">
      <div class="space-y-2 max-w-xl mx-auto">
        <h1
          class="font-bold font-poppins text-4xl md:text-5xl text-pink-600"
        >
        Pilihan Desain
        </h1>
        <p class="mt-4 text-center text-gray-600 font-poppins mx-auto">
          Dengan adanya preset kamu tinggal pilih design undangan sesuai dengan yang kamu mau!
        </p>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-8 max-w-screen-lg mx-auto">
        {posts
          .filter((post) => post.frontmatter.number && post.frontmatter.number >= 1 && post.frontmatter.number <= 5)
          .sort((a, b) => a.frontmatter.number - b.frontmatter.number)
          .slice(0, 15)
          .map((post) => (
            <div class="relative px-6 pt-4 pb-8 bg-white rounded-lg border-2" key={post.frontmatter.number}>
              <div class="relative">
                <div class="overflow-hidden rounded-lg">
                  <div class="w-full object-cover">
                    <a href={post.frontmatter.slug}>
                      <img src={post.frontmatter.img.url} alt={post.frontmatter.desc} />
                    </a>
                  </div>
                </div>
                <p class="font-bold text-xl pt-4 text-left text-gray-800 capitalize">{post.frontmatter.type}</p> 
                <div class="flex flex-row items-center gap-2 py-2">
                  <p class="w-fit p-1 bg-pink-600 text-white font-bold max-sm:mx-auto">50%</p>
                  <p class="w-full font-bold text-pink-600 text-start line-through">{post.frontmatter.unprice}</p>
                </div>
                <p class="font-bold text-gray-800 text-left text-2xl">{post.frontmatter.price}</p>
                <div class="mt-4 *:w-full space-y-3">
                  <a href="/pesan" class="flex flex-row items-center justify-center gap-1 text-white bg-pink-600 w-fit px-4 py-2 rounded-md">
                    <Icon name="mdi:navigation-variant" class="w-6 h-6 text-white" />Pesan
                  </a>
                  <a href={post.frontmatter.slug} class="flex flex-row items-center justify-center gap-2 text-white bg-gray-600 w-fit px-4 py-2 rounded-md">
                    {post.frontmatter.link}  <Icon name="mdi:eye" class="w-4 h-4" />Lihat Preview				
                  </a>
                </div>
              </div>
            </div>
          ))}
      </div>
      
      
    </div>
  </section>
</Archive>
