---
import Noheader from '../../layouts/noheader.astro';
import '@fontsource/kaushan-script';
import '@fontsource/alex-brush';
import '@fontsource-variable/josefin-sans';
import '@fontsource/the-nautigal';
import { Icon } from 'astro-iconify';
import Namatamu from '../../layouts/namatamu.astro'
import Payment from '../../layouts/payment.astro'
import Rsvp from '../../layouts/rsvp.astro'
import Countdown from '../../layouts/countdown.astro'
import Audio from '../../layouts/audio.astro'
import Footerpost from '../../layouts/footer-post.astro'
import Animation from '../../layouts/animation.astro'

let {frontmatter, count} = Astro.props;

if(!frontmatter) {
  let data = {};
  data["title"] = 'ultah-2'
  data["type"] = 'Tanpa Foto'
  data["desc"] = 'ultah-2'

  data["bgfs"] = 'bg-blue-100'
  data["bgsc"] = 'bg-red-200'
  data["bgth"] = 'bg-blue-900'

  data["txfs"] = 'text-white'
  data["txsc"] = 'text-pink-600'
  data["txth"] = 'text-blue-900'

  data["bdr"] = 'border-pink-100'
  data["from"] = 'from-pink-100'
  data["before"] = 'before:bg-red-200'

  data["cover"] = '/assets/dekor53.webp'
  data["imgsc"] = '/assets/img-25.webp'
  data["bg"] = '/assets/dekor-24.webp'
  // Img kedua mempelai
  data["dekorfs"] = '/assets/dekor49.webp'
  data["dekorsc"] = '/assets/dekor52.webp'
  data["dekorth"] = '/assets/dekor51.webp'
  // Img kedua mempelai
  data["pm1"] = '/assets/animation1.webp'

  // data mempelai
  data["name"] = "Aisyah"
  data["fullname"] = "Aisyah S. Irawan"
  data["endname"] = "S. Irawan"
  data["date"] = "Saturday, August 31 2024"
  data["birth"] = "25 Agustus 2007"
  data["music"] = "kezia"
  data["countdown"] = 'Aug 25, 2024 17:00:00'

  data["child"] = "Putri dari Pasangan"
  data["parent"] = "Beny Irawan & Elnny Kusuma"
  data["city"] = "Jakarta Pusat"

  //bank
  data["logoml"] = "/assets/bca.png"
  data["bankml"] = "BCA"
  data["namebankml"] = "Beny Irawan"
  data["numberbankml"] = "5270325663"
  data["logofml"] = "/assets/gopay.png"
  data["bankfml"] = "Gopay"
  data["namebankfml"] = "Elnny kusuma"
  data["numberbankfml"] = "081281938558"

//waktu & tempat acara
  data["time"] = "17:00 - Selesai WIB"
  data["address"] = "Hotel Luminor pecenongan"
  data["maps"] = "https://maps.app.goo.gl/fi6GRArAS7ppuHkR8" 
  data["linkmaps"] = "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15866.989655995547!2d106.8260866!3d-6.1645715!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f5da5ecda557%3A0x231ad86e140e0b89!2sHotel%20Luminor%20Pecenongan!5e0!3m2!1sid!2sid!4v1718076708034!5m2!1sid!2sid"

  data["quote"] = "Selamat ulang tahun untuk diriku! Hari ini adalah momen untuk merayakan perjalanan yang telah kutempuh, pencapaian yang telah kuraih, dan pelajaran yang telah kupetik. Semoga tahun ini penuh dengan kebahagiaan, keberanian, dan kesempatan baru. Terima kasih diriku, karena telah bertahan dan terus berusaha menjadi yang terbaik setiap hari."

  frontmatter=data;
}
---

<Noheader title={frontmatter.title} desc={frontmatter.desc}>
  
  <input type="checkbox" id="toggle" class="peer hidden peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear"/>
  <section class=`animasi relative bg-cover bg-center overflow-hidden peer-checked:h-0 peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear peer-checked:delay-500 before:content-[''] before:inset-0 before:bg-cover before:opacity-100 before:absolute before:bg-gradient-to-b before:from-white before:  before:to-red-200`>
    <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:max-w-28 *:md:max-w-56">
        <div class="h-full">
          <img src=`${frontmatter.dekorfs}` class="animate-fadedown h-full" alt="JejakBahagia" />
      </div>
        <div class="h-full scale-x-[-1] top-0 right-0">
          <img src=`${frontmatter.dekorfs}` class="animate-fadedown h-full" alt="JejakBahagia" />
      </div>

      <div class="animate-faderight left-0 bottom-0 z-20 h-fit max-w-36 md:max-w-64">
        <img src=`${frontmatter.dekorth}` class="left-0 bottom-0" alt="JejakBahagia" />
    </div>
    <div class="animate-fadeleft right-0 bottom-0 z-20 h-fit max-w-36 md:max-w-64">
        <img src=`${frontmatter.dekorth}` class="right-0 bottom-0 h-max" alt="JejakBahagia" />
    </div>
    </div>
    <div class=`container mx-auto h-screen flex flex-col justify-evenly items-center relative overflow-hidden z-50 ${frontmatter.txth}`>
        <h5 class=`animate-fadedown text-5xl sm:text-7xl font-nautigal ${frontmatter.txth}`>
            Birthday Party
        </h5>
        <div class="mx-auto text-center px-6 flex flex-col justify-center">
        <h1 class=`animate-fadeleft flex flex-col sm:flex-row gap-2 text-center font-kaushan text-center mx-auto text-5xl gap-3 ${frontmatter.txsc}`>
          {frontmatter.name }
        </h1>
        <h1 class=`animate-fadeleft flex flex-col sm:flex-row gap-2 text-center font-kaushan text-center mx-auto text-5xl gap-3 ${frontmatter.txth}`>
          {frontmatter.endname }
        </h1>
        </div>
        <div class="animate-fadeup bg-white border-2 border-pink-400 p-4 w-1/2 lg:w-1/4 mx-auto shadow-md text-center rounded-md">
          <p class="font-poppins text-xs">Kepada Yth. <br> Bapak/Ibu/Saudara/i</p>
          <h4 id="invite-name" class=`font-bold text-md capitalize ${frontmatter.txsc}`>
          <Namatamu /> nama tamu
          </h4>
        </div>
        <label for="toggle" id="toaudio" class=`animate-fadeup w-max mx-auto mt-5 px-6 py-2 relative rounded-full font-bold flex gap-1 transition-all duration-700 ease-linear ${frontmatter.txfs} ${frontmatter.bgth}`>Buka Undangan
        </label>
    </div>
  </section>
  <main id="myDIV" class=`hidden relative peer-checked:block ${frontmatter.bgsc}`>
    <section class="relative overflow-hidden bg-gradient-to-r from-red-200 via-white to-blue-200">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:max-w-28 *:md:max-w-56">
          <div class="h-full max-w-28">
            <img src=`${frontmatter.dekorfs}` class="animate-fadedown h-full" alt="JejakBahagia" />
        </div>
          <div class="h-full scale-x-[-1] top-0 right-0">
            <img src=`${frontmatter.dekorfs}` class="animate-fadedown h-full" alt="JejakBahagia" />
        </div>
        <div class="left-0 bottom-0 z-20 h-fit max-w-36 md:max-w-64">
          <img src=`${frontmatter.dekorth}` class="animate-faderight left-0 bottom-0" alt="JejakBahagia" />
      </div>
      <div class="animate-fadeleft right-0 bottom-0 z-20 h-fit max-w-36 md:max-w-64">
          <img src=`${frontmatter.dekorth}` class="right-0 bottom-0 h-max" alt="JejakBahagia" />
        </div>
      </div>
      <div class="container py-12 mx-auto relative z-10 h-screen">
        <div class=`text-center my-5 flex flex-col justify-evenly gap-2 h-full ${frontmatter.txth}`>
          <p class="animate-fadedown font-poppins px-12 max-w-xs md:max-w-md mx-auto">Tanpa mengurangi rasa hormat, kami bermaksud mengundang Bapak/Ibu/Saudara/i pada acara ulang tahun anak kami</p>
          <div class="mx-auto text-center px-6 flex flex-col justify-center">
            <h1 class=`animate-fadeleft flex flex-col sm:flex-row gap-2 text-center font-kaushan text-center mx-auto text-5xl gap-3 ${frontmatter.txsc}`>
              {frontmatter.name }
            </h1>
            <h1 class=`animate-fadeleft flex flex-col sm:flex-row gap-2 text-center font-kaushan text-center mx-auto text-5xl gap-3 ${frontmatter.txth}`>
            {frontmatter.endname }
          </h1>
          </div>
          <div class="animate-faderight">
            <p>{frontmatter.child}</p>
            <p class="font-bold">{frontmatter.parent}</p>
          </div>
          <div class=`animate-fadeup relative capitalize bg-cover bg-center bg-white p-6 leading-[5.5rem] rounded-full w-fit mx-auto border border-4 ring-inset ring-4 ring-white border-red-300 shadow-2xl font-kaushan text-7xl flex justify-center before:content-[''] before:inset-0 before:bg-cover before:opacity-75 before:absolute` style={`background-image:url(${frontmatter.cover})`}>17<sup class="text-xl">Th</sup></div>
        </div>
        
      </div>
    </section>
    <section class="animasi1 w-full mx-auto overflow-hidden relative bg-gradient-to-r from-red-200 via-white to-blue-200">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:max-w-28 *:md:max-w-56">
          <div class="fade-down opacity-0 h-full max-w-28">
            <img src=`${frontmatter.dekorfs}` class="h-full" alt="JejakBahagia" />
        </div>
          <div class="fade-down opacity-0 top-0 right-0 h-full max-w-28">
            <img src=`${frontmatter.dekorfs}` class="h-full scale-x-[-1]" alt="JejakBahagia" />
        </div>
        <div class="fade-right opacity-0 left-0 bottom-0 z-20 h-fit max-w-36 md:max-w-64">
          <img src=`${frontmatter.dekorth}` class="left-0 bottom-0" alt="JejakBahagia" />
      </div>
      <div class="fade-left opacity-0 right-0 bottom-0 z-20 h-fit max-w-36 md:max-w-64">
          <img src=`${frontmatter.dekorth}` class="right-0 bottom-0 h-max" alt="JejakBahagia" />
        </div>
      </div>
      <div class="container py-20 px-6 mx-auto relative flex flex-col items-center justify-center">
        <div class="flex flex-col justify-center items-center gap-y-8 w-full px-5 py-12 max-w-xs md:max-w-xl rounded-2xl shadow-lg text-center bg-white border-2 border-pink-200">
            <h3 class=`fade-down opacity-0 text-center font-kaushan text-6xl lg:text-7xl ${frontmatter.txsc}`>
              Acara
            </h3>
            
          <div class="fade-left opacity-0 h-full max-w-28">
            <img src=`${frontmatter.dekorth}` class="h-full" alt="JejakBahagia" />
        </div>

          <div class=`fade-right opacity-0 text-center font-josefin space-y-5 ${frontmatter.txsc}`>
            <div class="flex flex-col gap-2 *:flex *:items-center *:gap-2">
              <div>
                <Icon name="mdi:date-range" class=`w-1/6 h-8 max-w-fit p-2 rounded-full ${frontmatter.bgsc} ${frontmatter.txsc}` />
                <p class="text-lg font-bold"> {frontmatter.date}</p>
              </div>
              <div class="">
                <Icon name="mdi:clock-time-eight-outline" class=`w-1/6 h-8 max-w-fit p-2 rounded-full ${frontmatter.bgsc} ${frontmatter.txsc}` />
                <p class="text-md">{frontmatter.time}</p>
              </div>
              <div>
                <Icon name="mdi:home" class=`w-1/6 h-8 max-w-fit p-2 rounded-full ${frontmatter.bgsc} ${frontmatter.txsc}` />
                <p class="flex gap-2 text-left">{frontmatter.address}</p>
              </div>
            </div>
            <a href={frontmatter.maps} class=`fade-left opacity-0 mx-auto flex items-center justify-center rounded-full px-4 py-2 text-center text-sm font-medium w-fit ${frontmatter.bgth} ${frontmatter.txfs}`>Google Maps <Icon name="mdi:google-maps" class="w-6 h-6" />
            </a>
          </div>
            <div  data-count={frontmatter.countdown} id="timer" class=`fade-up opacity-0 grid grid-cols-2 md:grid-cols-4 gap-y-8 justify-center text-center items-center sm:mt-12 sm:px-20 w-full mx-auto *:text-center *:text-4xl *:sm:text-6xl *:font-bold *:p-1 ${frontmatter.txth}`>
            </div>
          </div>
      </div>
    </section>
    <section class="animasi2 overflow-hidden relative bg-gradient-to-r from-red-200 via-white to-blue-200">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:max-w-28 *:md:max-w-56">
          <div class="fade-down opacity-0 h-full max-w-28">
            <img src=`${frontmatter.dekorfs}` class="h-full" alt="JejakBahagia" />
        </div>
          <div class="fade-down opacity-0 top-0 right-0 h-full max-w-28">
            <img src=`${frontmatter.dekorfs}` class="h-full scale-x-[-1]" alt="JejakBahagia" />
        </div>
        <div class="fade-right opacity-0 left-0 bottom-0 z-20 h-fit max-w-36 md:max-w-64">
          <img src=`${frontmatter.dekorth}` class="left-0 bottom-0" alt="JejakBahagia" />
      </div>
      <div class="fade-left opacity-0 right-0 bottom-0 z-20 h-fit max-w-36 md:max-w-64">
          <img src=`${frontmatter.dekorth}` class="right-0 bottom-0 h-max" alt="JejakBahagia" />
        </div>
      </div>
      <div class="container py-20 z-50 px-6 text-center mx-auto relative">
        <div class=`text-center my-5 mb-10 ${frontmatter.txsc}`>
          <h2 class="fade-left opacity-0 text-center font-kaushan text-5xl lg:text-7xl">
            Ucapan <br> & Doa
          </h2>
        </div>

        <Rsvp color="gray-600"/>
          
      </div>
    </section>
    <section class="animasi3 relative overflow-hidden  bg-gradient-to-r from-red-200 via-white to-blue-200">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:max-w-28 *:md:max-w-56">
          <div class="fade-down opacity-0 h-full max-w-28">
            <img src=`${frontmatter.dekorfs}` class="h-full" alt="JejakBahagia" />
        </div>
          <div class="fade-down opacity-0 top-0 right-0 h-full max-w-28">
            <img src=`${frontmatter.dekorfs}` class="h-full scale-x-[-1]" alt="JejakBahagia" />
        </div>
        <div class="fade-right opacity-0 left-0 bottom-0 z-20 h-fit max-w-36 md:max-w-64">
          <img src=`${frontmatter.dekorth}` class="left-0 bottom-0" alt="JejakBahagia" />
      </div>
      <div class="fade-left opacity-0 right-0 bottom-0 z-20 h-fit max-w-36 md:max-w-64">
          <img src=`${frontmatter.dekorth}` class="right-0 bottom-0 h-max" alt="JejakBahagia" />
        </div>
      </div>
      <div class="container py-20 px-6 text-center mx-auto relative z-50">
        <div class=`text-center my-10 ${frontmatter.txth}`>
          <h2 class="fade-right opacity-0 text-4xl lg:text-7xl font-kaushan">Birthday <br>Gift</h2>
          <p class="fade-left opacity-0 font-poppins px-12 max-w-xs md:max-w-md mx-auto">Terima kasih telah menambah semangat kegembiraan ulang tahun kami dengan kehadiran dan hadiah indah Anda.</p>
        </div>
        <div class="flex flex-col md:flex-row gap-8 justify-center items-center w-full max-w-screen-md mx-auto">
          <div class="fade-down opacity-0 py-8 px-4 md:px-16 mx-auto w-full max-w-xs justify-center md:flex mx-auto gap-5 rounded-md bg-white shadow-lg">
            <div class="text-center font-poppins flex flex-col items-center">
              <img class="h-auto max-w-24" src={frontmatter.logoml} alt="JejakBahagia">
              <div class:list={[`mt-4 font-josefin ${frontmatter.txsc}`]}>
                <p class="max-w-prose">{frontmatter.namebankml}</p>
                <span class="copy-content font-bold">{frontmatter.numberbankml}</span>
                <div class="btn-copy pt-5">
                  <button class:list={[`${frontmatter.bgth} ${frontmatter.txfs} px-5 py-2 rounded-lg`]}>Copy Rekening</button>
                </div>
                <span class="copy-message absolute hidden inset-x-0">Rekening dicopy</span>
              </div>
            </div>
          </div>
          <div class="fade-up opacity-0 py-8 px-4 md:px-16 mx-auto w-full max-w-xs justify-center md:flex mx-auto gap-5 rounded-md bg-white">
            <div class="text-center font-poppins flex flex-col items-center">
              <img class="h-auto max-w-24" src={frontmatter.logofml} alt="JejakBahagia">
              <div class:list={[`mt-5 font-josefin ${frontmatter.txsc}`]}>
                <p class="max-w-prose">{frontmatter.namebankfml}</p>
                <span class="copy-content font-bold">{frontmatter.numberbankfml}</span>
                <div class="btn-copy pt-5">
                  <button class:list={[`${frontmatter.bgth} ${frontmatter.txfs} px-5 py-2 rounded-lg`]}>Copy Rekening</button>
                </div>
                <span class="copyMessage absolute hidden inset-x-0">Rekening dicopy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="animasi3 relative overflow-hiddenelative overflow-hidden bg-gradient-to-t from-red-200 to-white">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:max-w-28 *:md:max-w-56">
          <div class="fade-down opacity-0 h-full max-w-28">
            <img src=`${frontmatter.dekorfs}` class="h-full" alt="JejakBahagia" />
        </div>
          <div class="fade-down opacity-0 top-0 right-0 h-full max-w-28">
            <img src=`${frontmatter.dekorfs}` class="h-full scale-x-[-1]" alt="JejakBahagia" />
        </div>
        <div class="fade-right opacity-0 left-0 bottom-0 z-20 h-fit max-w-36 md:max-w-64">
          <img src=`${frontmatter.dekorth}` class="left-0 bottom-0" alt="JejakBahagia" />
      </div>
      <div class="fade-left opacity-0 right-0 bottom-0 z-20 h-fit max-w-36 md:max-w-64">
          <img src=`${frontmatter.dekorth}` class="right-0 bottom-0 h-max" alt="JejakBahagia" />
        </div>
      </div>
      
      <div class="container py-20 px-6 text-center mx-auto relative z-50">
        <div class="text-center flex flex-col gap-y-8">
          <h2 class=`fade-right opacity-0 text-5xl font-kaushan ${frontmatter.txsc}`>Thank You</h2>
          <p class=`fade-left opacity-0 font-poppins px-12 max-w-80 md:max-w-md mx-auto ${frontmatter.txth}`>Merupakan suatu kebahagiaan dan kehormatan bagi kami, apabila teman-teman, berkenan hadir dan memberikan do'a.</p>
          <div class="mx-auto text-center px-6 flex flex-col justify-center">
          <h1 class=`animate-fadeleft flex flex-col sm:flex-row gap-2 text-center font-kaushan text-center mx-auto text-5xl gap-3 ${frontmatter.txsc}`>
            {frontmatter.name }
          </h1>
          <h1 class=`animate-fadeleft flex flex-col sm:flex-row gap-2 text-center font-kaushan text-center mx-auto text-5xl gap-3 ${frontmatter.txth}`>
            {frontmatter.endname }
          </h1>
          </div>
      </div>
      </div>
    </section>
    <Footerpost />
    <Audio />
    <audio id="myAudio" loop class="hidden">
      <source src=`/assets/${frontmatter.music}.mp3` type="audio/mpeg">
    </audio>
    <Animation /> 
    <Payment /> 
    <Countdown count={frontmatter.countdown} />
  </main>
</Noheader>
